/* 全局样式（不再使用 :deep） */
.el-dialog.image-preview-dialog {
  padding: 16px 0 0 0;
}

.image-preview-dialog {
  border-radius: 8px;
  box-shadow: none;
  background-color: #2C3B49;
  border: 1px solid #24ACB7;
  width: 324px;
}

/* 隐藏 header 和 footer */
.image-preview-dialog .el-dialog__header,
.image-preview-dialog .el-dialog__footer {
  display: none !important;
}

/* 调整 body 样式 */
.image-preview-dialog .el-dialog__body {
  padding: 0;
}

/* 调整 dialog 样式 */
.image-preview-dialog .el-dialog {
  background-color: #2C3B49;
  border: 1px solid #24ACB7;
  border-radius: 8px;
  margin: 0 auto;
  width: 324px;
  height: 140px;
  padding: 0px;
}